html,
body {
  background: #171717;
  min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
}

#__nuxt {
  background: #171717;
  min-height: 100dvh;
}

.h-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 32s linear infinite;
}
